#welcome
  Welcome to
  %span.banner Mendicant University

#intro
  :markdown
    We are a group of software developers who use our technical skills to make a
    real positive impact on the world. We offer
    [courses](/about/courses),
    [mentoring](https://github.com/mendicant-university/mentoring#readme),
    and a sense of [community](http://community.mendicantuniversity.org)
    to all those who want to make life better through software development.